.header {
  background: #d6d3c8;
  padding: 20px;
}

/* Clearfix*/
.header::before,
.header::after {
  content: '';
  display: table;
  clear: both;
}

.header-logo {
  float: left;
}

.header-menu ul {
  float: right;
}

.header-menu ul li {
  display: inline-block;
}

.header-menu li a {
  color: #252525;
  font-size: 1.125em;
  padding: 0 10px;
}

.header-menu li:first-child a {
  padding-left: 0px;
}

@media (max-width: 739px) {
  .header-logo {
    float: none;
  }
  .header-menu ul {
    float: none;
    margin-top: 10px;
  }
}
