/* Locais */

.locais {
  padding: 60px 0;
}

.locais-item {
  margin-bottom: 40px;
}

.locais-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
  padding: 0;
}

.locais-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}

.locais-item a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  border: 3px solid;
  color: #252525;
  padding: 10px 20px;
}
