body {
  /* background: #222 */
  background: cornsilk;
}

.pai {
  box-sizing: border-box;
  background: aqua;
  outline: 2px solid greenyellow;
  margin: 20px 10px;
  display: flex;
  flex-wrap: wrap;
}

.filho {
  box-sizing: border-box;
  line-height: 100px;
  text-align: center;
  flex-basis: 200px /* Força todos os itens flex a ficarem com uma largura de 100px */
  min-width: 200px;
  /* flex-grow: 1 */
  height: 100px;
  border: 2px solid red;
}

/*
Pai:
  display: flex      Define que o conteúdo do pai será flex;
  flex-wrap: wrap    Se o conteúdo não couber no container, quebra o conteúdo para a linha de baixo
Filhos:
  flex-grow: N       Controla a taxa de Crescimento 
  flex-shrink: N     Controla a taxa de Decrescimento 
*/

.verde {
  background: lime;
}

.amarelo {
  background: yellow;
}

.rosa {
  background: pink;
}

.azul {
  background: blue;
}
