.produtos {
  width: 620px;
  margin: 0 10px;

  float: left;
}

.produtos h1 {
  font-size: 3em;
  font-weight: normal;
}

.produtos li {
  width: 300px;
  float: left;
  /* text-align: center; */
}

.produtos li:nth-child(even) {
  margin-left: 20px;
}

.produtos li img {
  display: block;
  max-width: 100%;
  border: 3px solid white;
  box-shadow: 0 0 0 3px #252525;
  margin: 40px 3px 0 3px;
  cursor: pointer;
}

.produtos li span {
  background: #e7e4d8;
  position: relative;
  top: -15px;
  padding: 10px;
  font-size: 0.875em;
  font-weight: bold;
  cursor: pointer;
}

.produtos li h2 {
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
}

@media (min-width: 740px) and (max-width: 980px) {
  .produtos {
    width: 460px;
  }

  .produtos li {
    width: 220px;
  }
}

@media (max-width: 739px) {
  .produtos {
    width: 300px;
  }

  .produtos li {
    width: 140px;
  }

  .produtos h1 {
    font-size: 2.5em;
  }
}
