section {
  display: flex;
  flex-direction: row;
}

@media (max-width: 739px) {
  section {
    flex-direction: column;
  }
}

section > div {
  background: tomato;
  margin: 10px;
  padding: 10px;
}
