.intro {
  background: url('../img/bg-intro.jpg') no-repeat center center;
  background-size: cover; /* expande a imagem se ela for menor que a laugura do site*/
  padding: 150px 0;
  text-align: center;
  color: #fff;
}

.intro h1 {
  text-transform: uppercase;
  font-size: 3em;
}

.intro h1::after {
  content: '';
  display: block;
  width: 20px;
  height: 4px;
  background: #fff;
  margin: 10px auto;
}

.intro p {
  font-style: italic;
  font-size: 1.125em;
}

@media only screen and (max-width: 739px) {
  .intro {
    padding: 60px 0;
  }

  .intro h1 {
    font-size: 2.25em;
  }
}
