.locais {
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;
}

.locais-item {
  /* clear: both; resolve problema com flutuação dos elementos, container faz a mesma coisa */
  /* overflow: hidden;  -> também funciona para resolver problemas com float, mas não é o ideal */
  margin: 40px auto;
}

.locais-item img {
  width: 460px;
  display: block;
  float: left;
  margin: 0 10px;
}

.locais-item > div {
  width: 460px;
  float: left;
  display: block;
}

.locais-item h2 {
  font-size: 2.25em;
  margin-bottom: 20px;
}

.locais-item p {
  font-size: 1.125em;
  line-height: 1.4em;
  max-width: 320px;
  margin-bottom: 40px;
}

.locais-item a {
  font-size: 1.125em;
  text-transform: uppercase;
  text-decoration: none;
  color: #252525;
  border: 3px solid; /* se não indicar a cor, respeita o ultimo color definido*/
  padding: 5px 10px;
}

.locais-item a:hover {
  background: rgba(0, 0, 0, 0.06);
}
