<div class="password-container">
    <input type="password" @attributes="@Attributes" class="form-control" value="@Value" @oninput="OnInputChanged" />
    <i class="fa-solid fa-eye" id="togglePassword"></i>
</div>

@code {
    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> Attributes { get; set; }

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnInputChanged(ChangeEventArgs e)
    {
        Value = e.Value?.ToString() ?? "";

        await ValueChanged.InvokeAsync(e.Value?.ToString() ?? "");
    }
}
