.label {
  margin: 0;
  font-size: 0.875rem;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;
  text-transform: uppercase;
  font-size: 0.875rem;
}

.input:focus {
  outline: none;
  border-bottom: 2px solid var(--border-color);
  transition: 0.5s;
}
