.label {
  margin: 0;
  font-size: 0.875rem;  
}

.select {
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid var(--border-color);
  border-radius: 0;  
  font-size: 0.875rem;
}

.select:focus {
  outline: none;
  border-bottom: 1px solid #3483fa;
}