.inputSearch {  
  display: flex;
  padding: 15px 10px;    
}

.inputSearch input {
  background: #3F474E;
  border: 2px solid #49525A;
  border-radius: 5px 0 0 5px;
  height: 32px;
  padding: 0 5px;
  font-style: italic;
  color: #fff;  
}

.inputSearch input:focus {
  background: #3F474E;
  
}

.inputSearch button {
  background: #3F474E;    
  border: 2px solid #49525A;
  border-left: 0px;
  border-radius: 0 5px 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputSearch button:hover, 
.inputSearch button:active, 
.inputSearch button:focus {
  background: #49525A;  
}

.inputSearch button img {
  max-width: 20px;
  max-height: 20px;  
}