.menu {
  background: #252525;
  padding: 20px 0;
}

.menu-logo {
  display: block;
  float: left;
  margin-left: 10px;
}

.menu-nav {
  float: right;
  margin-right: 10px;
}

.menu-nav li {
  display: inline-block; /* para deixar um li ao lado do outro*/
}

.menu-nav a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;
  font-size: 1.125em;
}

@media only screen and (max-width: 739px) {
  .menu {
    text-align: center;
  }
  .menu-logo {
    float: none;
    margin: 0 auto;
  }
  .menu-nav {
    float: none;
    clear: both; /* limpa a flutuação */
  }
}
