/*Header*/

.header {
  background: #d6d3c8;
  padding: 20px;
  display: flex /* para os itens ficarem flutuando o container deve ser display: flex*/
}
.header-logo {
  flex-grow: 1 /* força o logo crescer mais que o menu, jogando o menu para a direita */
}

.header-menu ul {
  display: flex /* faz com que itens sejam alinhados um ao lado do outro*/
  flex-wrap: wrap;
}

.header-menu li a {
  color: #252525;
  font-size: 1.125em;
  padding: 0 10px;
}

.header-menu li:first-child a {
  padding-left: 0px;
}

@media (max-width: 739px) {
  .header {
    flex-direction: column;
  }
  .header-logo {
  }
  .header-menu {
    margin-top: 10px;
  }
}
