.card { 
  flex: 1;
  display: flex;
  flex-direction: column;
  border: 5px solid #000;
  border-radius: 10px;
  margin: 10px;
  min-width: 300px;
  background: #fff;
  overflow: hidden;
}

.card .footer {
  background: #000;
  color: #fff;    
  padding: 10px;  
}

.card .footer h3 {
  margin: 0;    
}

.content {
  flex: 1; /*faz com que o content cresça mais que o header em relação ao card */
  padding: 5px;
  color: #252525;
}