<InputText type="password" @attributes="@Attributes"  class="form-control" @bind-Value="Value" @oninput="OnInputChanged" />
<p>Value: @Value</p>

@code {    

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? Attributes { get; set; }

    [Parameter]
    public string? Value { get; set; } 

    [Parameter]
    public EventCallback<string> ValueChanged { get; set; }

    private async Task OnInputChanged(ChangeEventArgs e)
    {        
        Value = e.Value?.ToString() ?? "";

        // Notify the parent component
        await ValueChanged.InvokeAsync(e.Value?.ToString() ?? "");
    }
}
