@page "/alert"


<h3>
    <span class="bi bi-list-nested-nav-menu" aria-hidden="true" style="width: 30px; height: 30px; color: red"></span> 
    Alert    
</h3>

@*
    Razor - Engine de Template do ASP.NET Core (MVC, Razor Page, Blazor)
*@

@code {
    

}
