.layout {
  display: flex;
}

.main {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}

.sub-main {
  padding: 10px;
  max-height: calc(100vh - 70px);
  overflow-y: auto;
}
