@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@700&display=swap');

* {
  box-sizing: border-box;
}

body {
  /* padding-top: 4rem; */

  --font-family-first: Helvetica, Arial, sans-serif;
  --font-family-second: 'Spectral', Georgia;
  --border-color: #bfbfbf;
  --label-text-color: #bfbfbf;
  --input-text-color: #252525; /*#000;*/

  margin: 0px;
  color: #333;
  font-family: var(--font-family-first);
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button,
input {
  display: block;
  font-size: 1rem;
  color: var(--input-text-color);
}

label {
  font-family: var(--font-family-first);
  color: var(--label-text-color);
}

a {
  text-decoration: none;
  color: #333;
}

.component-container {
  margin: 0.5rem 0px;
}