.sidemenu {
  min-width: 220px;
  height: 100vh;
  background-color: var(--primary);
  display: grid;
  grid-template-rows: 46px auto 52px;
  grid-template-areas:
    'logo'
    'items'
    'footer';
  box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 3px 1px;
}

.logo {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: ;
}

.items {
  grid-area: items;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  background: var(--primary);
}

.items::-webkit-scrollbar {
  display: none;
}

.items ul {
  margin: 0px;
  padding: 0px;
  display: none;
  transition: 0.5s;
  background: var(--primary);
}

.items ul.active {
  display: block;
}

.items ul li {
  list-style-type: none;
}

.menuitem {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin-top: 3px;
}

.menuitem span {
  display: block;
  cursor: pointer;
  color: white;
  padding: 8px;
}

.menuitem span:hover {
  color: black;
  background: var(--senary);
}

.menuitem ul li {
  cursor: pointer;
  margin: 3px;
  padding: 5px 40px;
  color: white;
}

.menuitem ul li:hover {
  font-weight: bold;
  background: var(--senary);
  border-radius: 4px;
}

.footer {
  grid-area: footer;
  border: 1px solid blue;
  display: flex;
  align-items: center;
}
