.footer {
  background: #d6d3c8;
  padding: 40px 0;
}

.footer p {
  float: left;
  margin: 0 10px;
  font-size: 1.125em;
  line-height: 1.4em;
}

.footer img {
  float: right;
  margin: 0 10px;
  display: block;
}

@media (max-width: 739px) {
  .footer > .container {
    max-width: 300px;
  }
  .footer p {
    float: none;
    margin: 0px;
  }
  .footer img {
    float: none;
    margin: 20px 0 0 0;
  }
}
