@page "/"

@inject NumeroAleatorio NumeroAleatorioA
@inject NumeroAleatorio NumeroAleatorioB
@inject ISenderMessage senderMessage

<PageTitle>Home</PageTitle>

<h1>Home Page</h1>

<h5>Dependency Injection</h5>

<div class="card p-3">
    <p>Numero A: @NumeroAleatorioA.NumeroiIdentificado</p>
    <p>Número B: @NumeroAleatorioB.NumeroiIdentificado</p>
</div>

<div class="row m-3">
    <div class="card col-4">
        Mennsagem Enviada: @senderMessage.Send("Mensagem...")
    </div>
</div>