@page "/separation"
@rendermode InteractiveServer

@* Html ******************************************************************@
<h3 b-titulo>Separation</h3>

<p class="mt-1">@Texto</p>

<p class="mt-1">
    <button class="btn btn-primary" onclick="javascript:alert('Botão In-line')" >Alerta</button>
</p>

<p class="mt-1">
    <button class="btn btn-primary" onclick="ShowMessage()">Alerta</button>
</p>


@* CSS ******************************************************************
    File: Separation.razor.css
*@

@* JavaScript ***********************************************************
    File: Separation.razor.js
*@

@* C# *******************************************************************
    File: Separation.razor.cs
*@