@import '@/styles/root.css';

.wrap-column {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;  
}

.wrap-row {
  display: flex;
  flex-direction: row;
  padding: 0px;
  margin: 0px;
}

.main-page {
  display: flex;   
}

.content-page {
  position: relative;  
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
  max-height: calc(100vh - var(--top-bar-height) - 7px);
}

.content {
  position: relative;
  overflow-y: visible;
  max-height: 100%;
  padding: 10px;
}



@media screen and (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .content-page {
    margin-left: 30px;
  }

  .content {
    padding-bottom: 21px;
  }
}