  @import '@/styles/root.css';
  @import '@/styles/inputs.css';
  @import '@/styles/grid.css';
  @import '@/styles/buttons.css';
  @import '@/styles/content.css';

  * {
    box-sizing: border-box;    
    margin: 0;
    padding: 0;
  }

  html {
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 2px;        
  }

  
    
  .side-bar {
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    flex-basis: var(--side-bar-max-width);
  }

  

  #app {
    font-family: 'Poppins', Helvetica, sans-serif;
    font-size: 0.853rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: var(--text-color-dark);
  }

  h1 {
    font-size: 1.25rem;
    font-weight: 400;  
    text-align: start;
  }

  h2 {
    font-size: 1rem;
    font-weight: 400;    
    text-align: start;
  }

  body {        
    background-color: var(--background-color-body);
  }

  body, ul, li, h1, h2, p {
    padding: 0px;
    margin: 0px;
  }

  label, input {
    width: 100%;
    text-align: start;
    font-size: 0.85rem;
  }

  ul {
    list-style: none;
  }

  a {
    color: #345;
    text-decoration: none;
  } 

  
  
  @media screen and (max-width: 960px) {

    h1 { 
      font-size: 1.1rem;
    }

    h2 {
      font-size: 0.850rem;
    }

    /* .menu-lateral {
      display: none;
    } */

    h1, h2 {
      text-align: center;
    }
   
    .side-bar {
      position: absolute;
      opacity: 0.90;
      z-index: 1000;      
    }    

    .body {
      margin-left: var(--side-bar-min-width);
    }
  
  }