

.input-group {
  display: flex;
  flex-direction: column;
}

.input-group input, 
.input-group select, 
.input-group textarea {
  font-family: 'Poppins', sans-serif;
  font-size: 0.795rem;
  border: 1px solid rgba(0,0,0,0.2);
  border-left: 2px solid var(--border-color-blue);  
  padding: 0px 5px;
  text-transform: uppercase;
  margin-bottom: 2px;
  outline: none;
  color: var(--text-color-dark);
  transition: all 0.1s;
}

.input-group input, 
.input-group select {  
  height: 32px;  
}

.input-group textarea {
  padding: 5px 5px;
}

.input-group select {
  text-transform: capitalize;
}

.input-group input:active, .input-group input:focus, 
.input-group select:focus, .input-group select:active,
.input-group textarea:focus, .input-group textarea:active
 {  
  border-left: 2px solid var(--border-color-blue);  
  border-top: 1px solid var(--border-color-input-focus);  
  border-right: 1px solid var(--border-color-input-focus);  
  border-bottom: 1px solid var(--border-color-input-focus);
  color: var(--text-color-dark);
}

.input-group label {
  /* font-size: 0.880rem;   */
  font-size: 0.80rem;
  font-weight: 400;
  color: var(--text-color-light);  
  margin-bottom: 2px;
  transition: all 0.2s ease;
}

.input-group:focus-within label {
  font-weight: 500;
  color: var(--text-color-dark);
}

option {
  line-height: 20px;
}