@import '@/styles/root.css';

  .header-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--background-color-body);
    /*margin-bottom: 20px; */
  }

  .header-page-id {
    text-align: start;
    text-transform: uppercase;    
    margin-left: 20px;
    border: 1px solid var(--border-color-blue);
    color: var(--text-color-blue);
    border-radius: 4px;
    background: var(--background-color-white);
    padding: 5px 10px;
  }

  .fixed-header {
    position: sticky;
    top: 0px;
    z-index: 99;
    width: 100%;        
    height: auto;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.180);
    display: flex;
    padding: 10px;
    margin: 0px;    
  }

  .fixed-footer {       
    position: sticky;
    bottom: 0px;
    margin: 0px;
    height: auto;
    width: 100%;
  }